@media only screen and (max-width:480px) {
	.main {
		h1 { 
			width: 100px;
			padding-bottom: 10px;
		}
		h2, h3 {
			text-align: center;
			color: #fff;
		}
		h2 {
			font-size: 8vw;
		}
		h2 span { 
			color: $yellow;
			font-size: 8vw;
		}
		h3 { font-size: 5vw;}
		form{
			min-width: inherit;
			width: 100%;
		}
		button{
			min-width: inherit;
			width: 100%;
		}
	}
}